@tailwind base;
@tailwind components;
@tailwind utilities;

/* Umumiy sozlamalar */
body {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	background: linear-gradient(116.82deg, #e9e9e9 0%, #a5beca 100%);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

/* Custom theme o'zgaruvchilari */
@layer base {
	:root {
		--background: 100%;
		--foreground: 10%;
		--card: 100%;
		--card-foreground: 10%;
		--primary: 10%;
		--primary-foreground: 100%;
		--secondary: 95%;
		--secondary-foreground: 10%;
		--muted: 95%;
		--muted-foreground: 46%;
		--accent: 95%;
		--accent-foreground: 10%;
		--border: 90%;
		--radius: 0.5rem;
		/* Ranglar */
		--yellow: rgba(251, 188, 4, 0.8);
		--qizil: rgba(165, 14, 14, 1);
		--qora: rgba(32, 33, 36, 1);
		--gray: rgba(154, 160, 166, 1);
		--kok: rgba(23, 78, 166, 1);
		--moviy: rgba(66, 133, 244, 1);
		--LightBlue: rgba(210, 227, 252, 1);
		--xLightBlue: rgba(241, 243, 244, 1);
	}

	/* Dark Mode uchun o'zgaruvchilar */
	.dark {
		--background: 10%;
		--foreground: 98%;
		--card: 15%;
		--card-foreground: 98%;
		--primary: 98%;
		--primary-foreground: 10%;
		--secondary: 15%;
		--secondary-foreground: 98%;
		--muted: 15%;
		--muted-foreground: 64%;
		--accent: 15%;
		--accent-foreground: 98%;
		--border: 15%;
		--radius: 0.5rem;
		/* Ranglar */
		--yellow: rgba(251, 188, 4, 0.8);
		--qizil: rgba(165, 14, 14, 1);
		--qora: rgba(32, 33, 36, 1);
		--gray: rgba(154, 160, 166, 1);
		--kok: rgba(23, 78, 166, 1);
		--moviy: rgba(66, 133, 244, 1);
		--LightBlue: rgba(210, 227, 252, 1);
		--xLightBlue: rgb(0, 0, 0);
	}

	/* Umumiy elementlarga qo'llash */
	* {
		@apply border-border;
		font-family: 'Inter', sans-serif;
	}
	body {
		@apply bg-background text-foreground;
	}
}
